.maindiv{
    width:940px;
    height:auto;
    margin: auto;
    margin-top:100px;
}

.h2{
    margin-top: 0;
    color: #0B5680;
    display: inline;
    font-size: 16px;
    font-weight: bold;
}

.input{
border:none;
width:330px;
height:25px;
color:white;
background-color: #00548f;



}