.lapphp{
    text-align: center;
    width: 50%;
    margin: auto;
}
.lapphp>h1{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 20px;
}
.lapphp>p{
    font-size: 20px;
    margin-bottom: 20px;
}
.lappimg{
    width: 50%;
    margin: auto;
    padding: 20px;
    
}
.lappimg>img{
    width: 100%;
}
.lappmain{
    padding-top: 40px;
    padding-bottom: 60px;
}
.lappps{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.lappps>img:hover{
    cursor: pointer;
}