.srchcar{
    background-color: rgb(255,221,51);
   
    /* margin-top: -25px; */
    text-align: center;
   
}
.srchwhiteline{
    width: 80%;
    margin: auto;
    background-color: white;
    height: 3px;
}
.searchbarcar{
    width: 70%;
    display: flex;
    background-color: white;
    margin: auto;
    align-items: center;
    border-radius: 35px;
}
.searchbarcar>input{
    width: 90%;
    border-radius: 35px;
    padding: 22px;
    border: none;
    outline: none;
    font-size: 20px;
}
.searchbarcar>i{
    color: rgb(0,102,238);
    font-size: 20px;
    padding: 10px;
}
.searchbarcar>i:hover{
    cursor: pointer;
    background-color: blue;
}
.sh1car>h1{
    font-size: 45px;
    font-weight: 1000;
    line-height: 45px;
}
.sh1car{
 width: 45%;
 margin: auto;
 padding: 20px;
}
.spcar{
    width: 45%;
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
}
.spcar>p{
    font-size: 20px;
}
.searchbg{
    background-image: url('https://www.myfitnesspal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-collage-search-bottom-small%402x.f0b506c7.png&w=1080&q=75');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

@media all and (min-width:401px) and (max-width:720px){
    .sh1car{
        width: 90%;
        margin: auto;
        
    }
    .spcar{
        width: 90%;
        margin: auto;
        
    }
    .searchbarcar{
        width: 80%;
    }
}